
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root{
    --yellow: #ffc61f; 
    --black: #000;
    --white: #fff;
    --cancel-color:#ec5f95;
    --send-color:#678ffa;
}

body{
    font-family: poppins;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.profile{
    text-align: center;
}
.profile img{
    border: 4px solid var(--yellow);
    border-radius: 50%;
}

.profile .details {
display: flex;
flex-direction: column;
}
.profile .details span:first-of-type{
    font-size: 1.3rem;
    font-weight: bolder;
}

.profile .btn{
    background-color: var(--yellow);
    display: inline-block;
    width: 7rem;
    line-height: 40px;
    border-radius: 4px;
    text-align: center;
    color: black;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.profile .btn:hover{
    background-color: var(--black); 
    color: white;
   
}



/* POP UP MODAL CSS */
.pop_up{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(201, 197, 197);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s 0s ease-in-out;
    pointer-events: none;
}

.pop_up.active{
    opacity: 1;
    pointer-events: auto;
}

.box{
    flex-direction: column;
    background-color: white;
    width: 450px;
    padding: 30px 20px 20px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}


.box .pro-detail{
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: all 0.5s linear ;
}


.box .pro-detail img{
    border-radius: 50%;
    width:50px;
    object-fit: contain;
}



.box .pro-detail .details{
    display: flex;
    flex-direction: column;
}

.box .details span:first-of-type{
    font-weight: 500;
    font-size: 0.8rem;
}

.box .details span:last-of-type{
    font-size: 0.7rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(73, 58, 58)
}

.box textarea{
    width: 100%;
    margin: 20px 0;
    resize: none;
    border: none;
    background-color: #f7f7f7;;
    border-radius: 5px;
    padding: 15px;
    outline: none;
}

.btn{
 display: flex;
 gap:8px;
 justify-content: right;
}

.box .btn span{
color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.box .btn span.cancel{
    background-color: var(--cancel-color)
}

.box .btn span.cancel:hover{
    background-color: var(--cancel-color)
}
.box .btn span.send{
   background-color:var(--send-color);
}
.box .btn span.send:hover{
    background-color:var(--send-color)
 }

 .pop_up .hide{
    position: absolute;
    top:0px;
    right: 0;
    margin: 15px;
    opacity: 0.5;
    cursor: pointer;
 }

 .pop_up .hide:hover{
    opacity: 0.8;
 }